<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GosExString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Aleksey\Documents\VisualStudioProjects\WinFormsApp1\WinFormsApp1\Database1.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>